<!-- This page is linked only from view.erb. Users will go to this page to edit data of a specific Pokemon of theirs. -->
<% @title="Edit Pokemon Info" %>

<div class="header">
	Edit Info
</div>

<!-- This form should autofill data from the previous page -->
<div class="infoBox">
	<form action="/view">
		<div class="form__input">
			Name: <input type="text" name="name" class="form" value= <%= @name %>>
		</div>
		<div class="form__input">
			Height: <input type="text" name="height" class="form" value= <%=  @height %>>
		</div>
		<div class="form__input">
			Weight: <input type="text" name="weight" class="form" value= <%=  @weight %>>
		</div>
		<div class="form__input">
			Gender: <input type="text" name="gender" class="form" value= <%=  @gender %>>
		</div>
		<div class="form__input">
			Type: <input type="text" name="type" class="form" value= <%=  @type %>>
		</div>
		<div class="form__input">
			CP: <input type="text" name="cp" class="form" value= <%=  @cp %>>
		</div>
		<div class="form__input">
			HP: <input type="text" name="hp" class="form" value= <%=  @hp %>>
		</div>
		<div class="form__input">
			Favorite? <input type="checkbox" name="favorite" <%=  @favorite %>>
		</div>
	<input type="submit" value="Submit">
	</form>
</div>