<!-- This page is linked only from view.erb. Users will go to this page to edit data of a specific Pokemon of theirs. -->
<% @title="Edit Pokemon Info" %>

<div class="header">
	Edit Info
</div>

<!-- This form should autofill data from the previous page -->
<form>
	Name: <input type="text" name="name" value= <%= @name %>><br>
	Height: <input type="text" name="height" value= <%=  @height %>><br>
	Weight: <input type="text" name="weight" value= <%=  @weight %>><br>
	Gender: <input type="text" name="gender" value= <%=  @gender %>><br>
	Type: <input type="text" name="type" value= <%=  @type %>><br>
	CP: <input type="text" name="cp" value= <%=  @cp %>><br>
	HP: <input type="text" name="hp" value= <%=  @hp %>><br>
	Favorite? <input type="checkbox" name="favorite"><br>
	<input type="submit" value="Submit">
</form>