<!-- This page is linked only from view.erb. Users will go to this page to edit data of a specific Pokemon of theirs. -->
<% @title="Edit Pokemon Info" %>

<div class="header">
	Edit Info
</div>

<!-- This form should autofill data from the previous page -->
<div class="statsContainer">
	<form action="/view">

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Name: 
			</div>
			<input type="text" name="name" class="form" value= <%= @name %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Height:
			</div>
			<input type="text" name="height" class="form" value= <%=  @height %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Weight:
			</div>
			<div class="infoBox__input">
				<input type="text" name="weight" class="form" value= <%=  @weight %>>
			</div>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Gender:
			</div>
			<input type="text" name="gender" class="form" value= <%=  @gender %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Type:
			</div>
			<input type="text" name="type" class="form" value= <%=  @type %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				CP:
			</div>
			<input type="text" name="cp" class="form" value= <%=  @cp %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				HP:
			</div>
			<input type="text" name="hp" class="form" value= <%=  @hp %>>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Favorite?
			</div>
			<input type="checkbox" name="favorite" <%=  @favorite %>>
		</div>

	<input type="submit" value="Submit">
	</form>
</div>