<!-- This page is linked only from view.erb. Users will go to this page to edit data of a specific Pokemon of theirs. -->
<% @title="Edit Pokemon Info" %>

<div class="header">
	Edit Info
</div>

<!-- This form should autofill data from the previous page -->
<div class="statsContainer">
	<form action="/view">

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Name: 
			</div>
			<div class="stats__info">
				<input type="text" name="name" class="form" value= <%= @name %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Height:
			</div>
			<div class="stats__info">
				<input type="text" name="height" class="form" value= <%=  @height %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Weight:
			</div>
			<div class="stats__info">
				<input type="text" name="weight" class="form" value= <%=  @weight %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Gender:
			</div>
			<div class="stats__info">
				<input type="text" name="gender" class="form" value= <%=  @gender %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Type:
			</div>
			<div class="stats__info">
				<input type="text" name="type" class="form" value= <%=  @type %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				CP:
			</div>
			<div class="stats__info">
				<input type="text" name="cp" class="form" value= <%=  @cp %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				HP:
			</div>
			<div class="stats__info">
				<input type="text" name="hp" class="form" value= <%=  @hp %>>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title--fixedWidth">
				Favorite:
			</div>
			<div class="stats__info">
				<input type="checkbox" name="favorite" <%=  @favorite %>>
			</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Stage One:
			</div>
			<input type="text" name="stage1" class="form" value= <%=  @stage1 %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Stage Two:
			</div>
			<input type="text" name="stage2" class="form" value= <%=  @stage2 %>>
		</div>

		<div class="infoBox__text--column">
			<div class="infoBox__title">
				Stage Three:
			</div>
			<input type="text" name="stage3" class="form" value= <%=  @stage3 %>>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Favorite?


	<input type="submit" value="Submit">
	</form>
</div>