<% @title="Personal Pok&eacute;dex" %>

<div class="header">
	Personal Pok&eacute;dex
</div>

<% if @all_pokemon.empty? == true %>

<div class="noPokemonError">
	<%= @no_pokemon_error %>
</div>

<% else %>

		<div>
			<img class="viewImage" src="/images2/<%= @random_favorite[0] %>.png" />
		</div>

	<div class="statsContainer">
		<div class="stats">
			<div class="stats__title">
				Name:
			</div> 
			<div class="stats__info">
				<%= @random_favorite[0] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Height:
			</div>
			<div class="stats__info">
				<%= @random_favorite[1] %> in
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Weight:
			</div> 
			<div class="stats__info">
				<%= @random_favorite[2] %> lbs
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Gender:
			</div>
			<div class="stats__info">
				<%= @random_favorite[3] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Type:
			</div>
			<div class="stats__info">
				<%= @random_favorite[4] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				CP:
			</div>
			<div class="stats__info">
				<%= @random_favorite[5] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				HP:
			</div>
			<div class="stats__info">
				<%= @random_favorite[6] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Favorite:
			</div>
			<div class="stats__info">
				<%= @random_favorite[7] %>
			</div>
		</div>
		
	</div>

<% end %>
