<% @title="Personal Pokedex" %>

<div class="header">
	Header
</div>

<% if @all_pokemon.empty? == true %>

	<div>
		<h2><%= @no_pokemon_error %></h2>
	</div>

<% else %>

	<div>
		<h1>Name: <%= @random_favorite[0] %></h1>
		<h3>Height: <%= @random_favorite[1] %></h3>
		<h3>Weight: <%= @random_favorite[2] %></h3>
		<h3>Gender: <%= @random_favorite[3] %></h3>
		<h3>Type: <%= @random_favorite[4] %></h3>
		<h3>CP: <%= @random_favorite[5] %></h3>
		<h3>HP: <%= @random_favorite[6] %></h3>
		<h3>Favorite: <%= @random_favorite[7] %></h3>
	</div>

<% end %>


<!-- Random Pokemon image from database of user's favorites -->
