<% @title="Personal Pok&eacute;dex" %>

<div class="header">
	Personal Pok&eacute;dex
</div>

<% if @all_pokemon.empty? == true %>

<div class="noPokemonError">
	<%= @no_pokemon_error %>
</div>

<% else %>

		<div>
			<img class="viewImage" src="/images2/<%= @random_favorite[0] %>.png" />
		</div>

	<div class="statsContainer">
		<div class="infoBox__text">
			<div class="infoBox__title">
				Name:
			</div> 
			<%= @random_favorite[0] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Height:
			</div>
			<%= @random_favorite[1] %> in
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Weight:
			</div> 
			<%= @random_favorite[2] %> lbs
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Gender:
			</div>
			<%= @random_favorite[3] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Type:
			</div>
			<%= @random_favorite[4] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				CP:
			</div> 
			<%= @random_favorite[5] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				HP:
			</div>
			<%= @random_favorite[6] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Stage One:
			</div>
			<%= @random_favorite[8] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Stage Two:
			</div>
			<%= @random_favorite[9] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Stage Three:
			</div>
			<%= @random_favorite[10] %>
		</div>

		<div class="infoBox__text">
			<div class="infoBox__title">
				Favorite:
			</div>
			<%= @random_favorite[7] %>
		</div>
		
	</div>

<% end %>
