<% @title="Search Results" %>

<div class="header">
	Search Results
</div>

<% 
if @search_results.count > 0  

	@search_results.each do |record|
	%>	

	<img class="viewImage" src="/images2/<%= record[0] %>.png" />
		
		
	<div class="statsContainer">
			
		<div class="stats">
			<div class="stats__title">
				Name:
			</div>
			<div class="stats__info">
				<%= record[0] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Height:
			</div>
			<div class="stats__info">
				<%= record[1] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Weight:
			</div>
			<div class="stats__info">
				<%= record[2] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Gender:
			</div>
			<div class="stats__info">
				<%= record[3] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Type:
			</div>
			<div class="stats__info">
				<%= record[4] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				CP:
			</div>
			<div class="stats__info">
				<%= record[5] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				HP:
			</div>
			<div class="stats__info">
				<%= record[6] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Favorite:
			</div>
			<div class="stats__info">
				<%= record[7] %>
			</div>
		</div>

	</div>

	<div class="editText">
		<a href="/view?name=<%= record[0] %>">View Individual Pok&eacute;mon</a>
	</div>
<%	end 
	
else %>
	<div>
		<p><%= @search_error %></p>
	</div>
<% 
end  %>