<% @title="Search Results" %>

<div class="header">
	Search Results
</div>

<% if @search_results != false %>

	<div>
		<img class="viewImage" src="/images2/<%= @search_results[0] %>.png" />
	</div>
	
	<div class="statsContainer">
		
		<div class="stats">
			<div class="stats__title">
				Name:
			</div>
			<div class="stats__info">
				<%= @search_results[0] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Height:
			</div>
			<div class="stats__info">
				<%= @search_results[1] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Weight:
			</div>
			<div class="stats__info">
				<%= @search_results[2] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Gender:
			</div>
			<div class="stats__info">
				<%= @search_results[3] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Type:
			</div>
			<div class="stats__info">
				<%= @search_results[4] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				CP:
			</div>
			<div class="stats__info">
				<%= @search_results[5] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				HP:
			</div>
			<div class="stats__info">
				<%= @search_results[6] %>
			</div>
		</div>

		<div class="stats">
			<div class="stats__title">
				Favorite:
			</div>
			<div class="stats__info">
				<%= @search_results[7] %>
			</div>
		</div>

	</div>

<% end %>
	
<% if @search_results == false %>
	<div>
		<p><%= @search_error %></p>
	</div>
<% end %>

<a href="/view?name=<%= @search_results[0] %>">View Individual Pok&eacute;mon</a>