<!-- This page will display a user's Pokemon's specific details as they are stored in the database. From this page, a user will be able to get a page where they can edit these details. -->
<div class="header">
<!-- Name of Pokemon being viewed -->
	<%= @name %>
</div>

	<div>
	<!-- Image of Pokemon being viewed -->
		<img class="viewImage" src="/images2/<%= @name %>.png" />
	</div>


	<div class="evolutions">
		<div class="evolutions__text">
			Evolution Path
		</div>
	<% if @stage1.blank? == false %>
		<div class="banana">
			<div class="evolutions__image">
			<!-- Image of Pokemon being viewed -->
				<img class="evoImage" src="/images2/<%= @stage1 %>.png" />
			</div>

	<% end 

		if @stage2.blank? == false  %>

			<div class="evolutions__image">
			<!-- Image of Pokemon being viewed -->
				<img class="evoImage" src="/images2/<%= @stage2 %>.png" />
			</div>
	<%  end 

		if @stage3.blank? == false%>

			<div class="evolutions__image">
			<!-- Image of Pokemon being viewed -->
				<img class="evoImage" src="/images2/<%= @stage3 %>.png" />
			</div>
		</div>

	<% end %>
	</div>

<div class="statsContainer">

	<div class="stats">
		<div class="stats__title">
			Height:
		</div> 
		<div class="stats__info">
			<%=  @height %> in
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Weight:
		</div>
		<div class="stats__info">
			<%= @weight %> lbs
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Gender:
		</div>
		<div class="stats__info">
			<%= @gender %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Type:
		</div>
		<div class="stats__info">
			<%= @type %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			CP:
		</div>
		<div class="stats__info">
			<%= @cp %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			HP:
		</div>
		<div class="stats__info">
			<%= @hp %>
		</div>
	</div>	

<% if !@stage1.blank? %>
	<div class="stats">
		<div class="stats__title">
			Stage One:
		</div>
		<div class="stats__info">
			<%= @stage1 %>
		</div>
	</div>	
<% end %>

<% if !@stage2.blank? %>
	<div class="stats">
		<div class="stats__title">
			Stage Two:
		</div>
		<div class="stats__info">
			<%= @stage2 %>
		</div>
	</div>	
<% end %>

<% if !@stage3.blank? %>
	<div class="stats">
		<div class="stats__title">
			Stage Three:
		</div>
		<div class="stats__info">
			<%= @stage3 %>
		</div>
	</div>
<% end %>	

	<div class="stats">
		<div class="stats__title">
			Favorite?
		</div>

	<% if @favorite == "yes" %>

		<div class="stats__info">
			<img class="favoriteHeart" src="/images2/heart.png" alt="Heart" />
		</div>

	<% else %>

		<div class="stats__info">
			<%= @favorite %>
		</div>

	<% end %>
	</div>
	
</div>

	<div class="editText">
		<a href="/edit?name=<%= @name %>">Edit Information</a>
	</div>