<!-- This page will display a user's Pokemon's specific details as they are stored in the database. From this page, a user will be able to get a page where they can edit these details. -->
<% @title="View Your Pokemon" %>

<div class="header">
<!-- This will be embedded Ruby that will call the name of the Pokemon that is being viewed -->
	<%= @name %>
</div>
<!-- Pokemon image goes here -->
<!-- Pokemon evolution path goes here -->
<div class="infoBox">
	Height: <%=  @height %><br>
	Weight: <%= @weight %><br>
	Gender: <%= @gender %><br>
	Type: <%= @type %><br>
	CP: <%= @cp %><br>
	HP: <%= @hp %><br>	
	Favorite? <%= @favorite %><br>
</div>
<a href="/edit">Edit Information</a>