<!-- This page will display a user's Pokemon's specific details as they are stored in the database. From this page, a user will be able to get a page where they can edit these details. -->
<% @title="View Your Pok&eacute;mon" %>

<div class="header">
<!-- Name of Pokemon being viewed -->
	<%= @name %>
</div>

	<div>
	<!-- Image of Pokemon being viewed -->
		<img class="viewImage" src="/images2/<%= @name %>.png" />
	</div>


	<% if @stage1.blank? == false %>

			<div>
			<!-- Image of Pokemon being viewed -->
				<img class="viewImage" src="/images2/<%= @stage1 %>.png" />
			</div>

	<% end 

		if @stage2.blank? == false  %>

			<div>
			<!-- Image of Pokemon being viewed -->
				<img class="viewImage" src="/images2/<%= @stage2 %>.png" />
			</div>
	<%  end 

		if @stage3.blank? == false%>

			<div>
			<!-- Image of Pokemon being viewed -->
				<img class="viewImage" src="/images2/<%= @stage3 %>.png" />
			</div>

	<% end %>

<div class="statsContainer">

	<div class="stats">
		<div class="stats__title">
			Height:
		</div> 
		<div class="stats__info">
			<%=  @height %> in
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Weight:
		</div>
		<div class="stats__info">
			<%= @weight %> lbs
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Gender:
		</div>
		<div class="stats__info">
			<%= @gender %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			Type:
		</div>
		<div class="stats__info">
			<%= @type %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			CP:
		</div>
		<div class="stats__info">
			<%= @cp %>
		</div>
	</div>

	<div class="stats">
		<div class="stats__title">
			HP:
		</div>
		<div class="stats__info">
			<%= @hp %>
		</div>
	</div>	

	<div class="stats">
		<div class="stats__title">
			Stage One:
		</div>
		<div class="stats__info">
			<%= @stage1 %>
		</div>
	</div>	

	<div class="stats">
		<div class="stats__title">
			Stage Two:
		</div>
		<div class="stats__info">
			<%= @stage2 %>
		</div>
	</div>	

	<div class="stats">
		<div class="stats__title">
			Stage Three:
		</div>
		<div class="stats__info">
			<%= @stage3 %>
		</div>
	</div>	

	<div class="stats">
		<div class="stats__title">
			Favorite?
		</div>
		<div class="stats__info">
			<%= @favorite %>
		</div>
	</div>
	
</div>

<a href="/edit?name=<%= @name %>">Edit Information</a>